{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/finch-index.css' %}"/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Finch List</h1>
</section>

<section class="card-container">
  {% for finch in finches %}
    <div class="card">
      <a href="{% url 'finches_detail' finch.id %}">
        <div class="card-content">
          <div class="card-img-container">
            <img 
              height="100px"
              src="{% static 'images/finch_skater.jpeg' %}" 
              alt="A skater boy finch"
            >
          </div>
          <h2 class="card-title">{{ finch.name }}</h2>
          {% comment %} {% if finch.age > 0 %} {% endcomment %}
            <p>A {{ finch.color }} {{ finch.species }}</p>
          {% comment %} {% else %} {% endcomment %}
            {% comment %} <p>A {{ finch.species }} kitten.</p> {% endcomment %}
          {% comment %} {% endif %} {% endcomment %}
          <p><small>{{ finch.description }}</small></p>
        </div>
      </a>
    </div>
  {% endfor %}
</section>

{% endblock %}